* {
  color: white !important;
}

body, html {
  background-color: #24292e;
}

button, input, select {
  background-color: #222222;
  border-color: #565656 !important;
}

img {
  box-shadow: black 5px 5px 10px !important;
}

th {
  background-color: grey !important;
}

table, td, th {
  border: 1px solid white;
}

li.search {
  border: 1px solid white !important;
}

#best-version {
  background-color: green !important;
}
