* {
  color: white !important;
  scrollbar-color: rgb(69,74,77) rgb(32,35,36);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(69,74,77);
}
::-webkit-scrollbar {
    background-color: rgb(32,35,36);
}

a {
  color: lightblue !important;
}

body {
  background-color: #24292e;
}

button, input, select {
  background-color: #222222;
  border-color: #565656 !important;
}

img {
  box-shadow: black 5px 5px 10px !important;
}

th {
  background-color: grey !important;
}

table, td, th {
  border: 1px solid white !important;
}

li.search {
  border: 1px solid white !important;
}

#best-version {
  background-color: green !important;
}
