@keyframes detail-expand {
  from {height: 0;}
  to {height: calc(100vh - 101px);} /* Replace with cell height */
}

@keyframes detail-retract {
  from {height: calc(100vh - 101px);} /* Replace with cell height */
  to {height: 0; padding: 0;}
}

* {
  user-select: none;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
}

button {
  cursor: pointer;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  position: sticky;
  top: -10px;
  background-color: lightgrey;
}

#best-version {
  background-color: lightgreen;
}

.flex {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.rounded-button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 2px solid darkgrey;
  padding: 0;
}

.button-container {
  text-align: right;
  min-width: 100px;
}

.flex > div {
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 10px;
  line-height: 40px;

  display: flex;
  font-size: 30px;
  align-items: center;
}

.flex img {
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px grey;
  /*image-rendering: pixelated;*/
}

#detail {
  width: 100%;
  animation-name: detail-expand;
  animation-duration: 500ms;
  animation-fill-mode: both;
  overflow-y: auto;
  display: block;
}

#powerTip {
	width: 300px;
  white-space: normal;
}


/*** Styles for Icon Selector ***/
#detail.icon-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

#detail.icon-selector > img {
  width: 20%;
  margin: 2%;
  /*image-rendering: pixelated;*/
}


/*** Styles for Settings ***/
.danger {
  background-color: red;
  color: pink;
  border: 2px solid darkred !important;
  font-variant: small-caps;
  font-weight: bold;
}

.help {
  font-size: 12pt;
  cursor: help;
}

input[disabled] {
  border: none;
  background-color: transparent;
  color: black;
  pointer-events: none;
}

#advanced {
  display: none;
}


/*** Styles for Add Mods ***/
#detail.add-mods > input {
  width: 90%;
}

#detail.add-mods > div {
  position: sticky;
  height: 0;
  top: 0;
}

#detail.add-mods .detail {
  border: 1px dotted grey; margin-top: 10px; margin-bottom: 10px;
}

li.search {
  list-style: none;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}
