@keyframes detail-expand {
  from {height: 0;}
  to {height: calc(100vh - 101px);} /* Replace with cell height */
}

@keyframes detail-retract {
  from {height: calc(100vh - 101px);} /* Replace with cell height */
  to {height: 0; padding: 0;}
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.flex {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.rounded-button {
  cursor: pointer;
  border-radius: 100%;
}

.button-container {
  text-align: right;
  flex-grow: 99;
  min-width: 100px;
}

.flex > div {
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 10px;
  line-height: 40px;

  display: flex;
  font-size: 30px;
  align-items: center;
}

.flex img {
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px grey;
  /*image-rendering: pixelated;*/
}

#detail {
  width: 100%;
  animation-name: detail-expand;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/*** Styles for Icon Selector ***/
#detail.icon-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

#detail.icon-selector > img {
  width: 20%;
  margin: 2%;
  /*image-rendering: pixelated;*/
}
